<div class="container ml-auto mr-auto">

<h1>welcome to <strong>Bookers</strong><i class="fas fa-book"></i> !!</h1>
<p>
  In <i class="fas fa-book"></i><strong>Bookers</strong>,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</p>

</div>