<div class="container">
  <div class="row">
    <div class="mx-auto col-md-6">
<h1>welcome to <strong>Bookers</strong><i class="fas fa-book"></i> !!</h1>
<p>
  In <i class="fas fa-book"></i><strong>Bookers</strong>,<br>
  you can share and exchange your opinions , inpressions , and emotions<br>
  about various books!
</p>



  <div class="row">
    <div class="mx-auto col-10">
      <%= link_to "Log in", new_user_session_path, class: "btn btn-sm btn-info btn-block my-2" %>
    </div>
  </div>

  <div class="row">
    <div class="mx-auto col-10">
      <%= link_to "Sign up", new_user_registration_path, class: "btn btn-sm btn-success btn-block my-2" %>
    </div>
  </div>

    </div>
  </div>
</div>